NODE_ENV=development
PORT=3010
CLIENT_URL=http://localhost:3001
ML_SERVICE_URL=http://localhost:5000
MONGODB_URI=mongodb://localhost:27017/chemical-discovery
# Isi dengan string acak untuk keamanan
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRE=24h
CORS_ORIGIN=*
UPLOAD_PATH=./public/images/structures
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=